CHUNK_SIZE=1000
CHUNK_OVERLAP=250
EMBEDDING_MODEL=ollama
MODEL_URL=http://ollama:11434
MODEL_TYPE=nomic-embed-text
EMBEDDING_SIZE=768
LLM_MODEL=phi3:mini
TOP_K=3

QDRANT_HOST=qdrant
QDRANT_PORT=6333

POSTGRES_HOST=pg
POSTGRES_DB=rag_test
POSTGRES_USER=rag_test
POSTGRES_PASSWORD=rag_test
POSTGRES_PORT_INNER=5432
POSTGRES_PORT_OUTER=5440
